argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
box2d-py==2.3.5
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
cloudpickle==3.0.0
environs==9.5.0
Farama-Notifications==0.0.4
grpcio==1.58.0
gymnasium==0.29.1
idna==3.8
marshmallow==3.22.0
minio==7.2.8
numpy==1.26.3
packaging==24.1
pandas==2.2.2
protobuf==5.27.3
pyarrow==17.0.0
pycparser==2.22
pycryptodome==3.20.0
pygame==2.5.2
pymilvus==2.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
six==1.16.0
typing_extensions==4.12.2
tzdata==2024.1
ujson==5.10.0
urllib3==2.2.2
pytest>=7.0.0
pytest-mock>=3.10.0